*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
}
.company-div{
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 237, 237);
    width: 50%;
    float: left;
    min-height: 100vh;
}
.logo img{
    width: 400px;
    height: 200px;
}
.company-div h3{
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
    font-size: 54px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0.01em;
    color: rgb(36, 34, 34);
}
.image-capture{
    width: 100%;
}
.image-capture img{
    width: 600px;
    height: 337px;
}
.sign-up{
    display: flex;
    flex-direction: column;
    float: right;
    width: 50%;
}
.sign-up form{
    padding: 50px;
}
.sign-up div{
    padding: 20px;
    margin: 20px;
}
input{
    color: rgb(89, 95, 110);
    font-weight: bold;
    font-stretch: inherit;
    font-size: 14px;
    line-height: inherit;
    font-family: lato, sans-serif;
    margin-top: 1;
    box-sizing: border-box;
    position: relative;
    display: block;
    float: right;
    width: 100%;
    border: none;
    border-bottom: rgb(36, 34, 34) 1px solid;
    padding: 5px;
    border-radius: 2px;
    outline: none;
}
label{
    color: rgb(168, 170, 177);
}
input[type=submit]{
        color: rgb(255, 255, 255);
        font-weight: inherit;
        font-stretch: inherit;
        font-size: 13px;
        line-height: inherit;
        font-family: lato, sans-serif;
        text-transform: uppercase;
        appearance: button;
        cursor: pointer;
        float: left;
        width: 30%;
        box-sizing: border-box;
        padding: 13px 25px;
        border-radius: 24px;
        background-color: rgba(255, 0, 0, 0.822);
        display: inline-block;
}
.sign-up a {
    float: right;
    width: 60%;
    padding: 4px 1px 5px 0;
    display: inline-block;
    text-decoration: none;
    color: rgb(36, 34, 34);
    margin: 5px;
    font-size: 18px;
}
#submission:hover{
   background-color: red;
}