*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
}
body{
    background-color: rgb(238, 237, 237);

}
.company-div{
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 237, 237);
    width: 50%;
    float: left;
    /* min-height: 100vh; */
}
.logo img{
    width: 200px;
    height: 100px;
}
.company-div h3{
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
    font-size: 54px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0.01em;
    color: rgb(36, 34, 34);
}
.image-capture{
    width: 100%;
}
.image-capture img{
    width: 600px;
    height: 337px;
}
.sign-up{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 20px;
    float: right;
    width: 50%;
    background-color: #04044A;
    border-radius: 200px 100px 200px 100px; 
    height: 100vh;
}
.sign-up form{
    padding: 0px 10px 40px 100px;
    min-height: fit-content;
}
.sign-up div{
    padding: 20px;
    margin: 10px;
}
input{
    color: #000000;
    font-weight: bold;
    font-stretch: inherit;
    font-size: 13px;
    line-height: inherit;
    font-family: lato, sans-serif;
    margin-top: 1px;
    box-sizing: border-box;
    position: relative;
    display: block;
    float: right;
    width: 100%;
    border: none;
    border-bottom: rgb(36, 34, 34) 1px solid;
    padding: 5px;
    border-radius: 4px;
    outline: none;
}
label{
    color: #FF8C00;
}
input[type=submit]{
        color: rgb(255, 255, 255);
        font-weight: inherit;
        font-stretch: inherit;
        font-size: 13px;
        line-height: inherit;
        font-family: lato, sans-serif;
        text-transform: uppercase;
        appearance: button;
        cursor: pointer;
        float: left;
        width: 30%;
        box-sizing: border-box;
        padding: 13px 25px;
        border-radius: 24px;
        background-color: rgba(255, 0, 0, 0.822);
        display: inline-block;
}
input[type=file]{
    background-color: white     ;
}
.sign-up a {
    float: right;
    width: 60%;
    padding: 4px 1px 5px 0;
    display: inline-block;
    text-decoration: none;
    color: #FF8C00;
    margin: 5px;
    font-size: 18px;
}
.sign-up a:hover{
    color: #ffc56d;
    text-shadow: 2px 2px 3px #161692;
}
#submission:hover{
   background-color: red;
}
@media screen and (max-width: 800px) {
    /* main{
        width: 100%;
    } */
    .company-div{
        width: 100%;
    }
    .sign-up{
        width: 100%;
    }
    img {
        max-width: 100%;
        height: auto;
      }
    input[type=submit]{
        width: 45%;
        font-size: 10px;
        padding: 5px;
        float: left;
    }
    #submission:hover{
        background-color: red;
     }
     .sign-up a {
        float: left;
        width: 50%;
        padding: 4px 1px 5px 0;
        display: inline-block;
        text-decoration: none;
        color: rgb(36, 34, 34);
        margin: 5px;
        font-size: 12px;
    }
}
@media screen and (max-width:360px) {
    .sign-up{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        background-color: #04044A;
        border-radius: 0;
    }
    .sign-up form{
        min-height: fit-content;
        padding: 5px;
    }
}