*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

nav{
    display: flex;
    flex-direction: row;
    background-color: #FF8C00;
    justify-content: space-between;
    height: 50px;
    width: 100%;
}
.icon{
    justify-content: flex-start;
    align-self: flex-start;
    width: 150px;
    height: 100px;
    padding: 0px 200px 0px 0px;

}
.icon img {
    height: 50px;
    width: 200px;
    padding: 0 0 0 20px;
    margin: 0;
}
a{
    padding: 12px 10px;
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-bar{
    display: flex;
    justify-content: center;
}
#logout{
    border: none;
    color: white;
    background-color: #FF8C00;
    justify-self: center    ;
}

.nav-bar a:hover{
    text-shadow: 1px 1px 2px #04044A, 0 0 25px #04044A, 0 0 5px #04044A;
    color: wheat;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.my-divs{
    background-color: #04044A;
    border-radius: 30px;
    box-shadow: 4px 4px 10px #04044A;
    margin: 10px;
    padding: 70px;
}
.my-divs p{
    text-align: center;
    padding: 50px 0;
    font-size: x-large;
}
.passenger, .dispatcher, .police{
    width: 500px;
    height: 260px;
}
.police{
    align-self: center;
}
.my-divs:hover{
    box-shadow: 10px 5px 10px #020229;
}
.my-divs a{
    text-decoration: none;
    font-size: xx-large;
    position: relative;
    top: 100px;
}
.my-divs p:hover{
    text-shadow: 1px 1px 2px black, 0 0 25px #04044A, 0 0 5px #04044A;
    color: rgb(238, 122, 14);
}
@media screen and (max-width: 400px) {
    header{
        width: 100%;
    }
    .my-divs{
        width: 98%;
    }
}
