*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
}

nav{
    display: flex;
    flex-direction: row;
    background-color: #FF8C00;
    justify-content: space-between;
    height: 50px;
    width: 100%;
}
.icon{
    justify-content: flex-start;
    align-self: flex-start;
    width: 150px;
    height: 100px;
    padding: 0px 200px 0px 0px;

}
.icon img {
    height: 50px;
    width: 200px;
    padding: 0 0 0 20px;
    margin: 0;
}
a{
    padding: 5px 10px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;

}
.nav-bar{
    margin-right: 20px;
    margin-top: 10px;
    font-size: 20px;
}
.nav-bar a:hover{
    text-shadow: 1px 1px 2px black, 0 0 25px #04044A, 0 0 5px #04044A;
    color: wheat;
}
main{
    margin: 30px 200px;
}
h1{
    text-align: center;
    color: #04044A;
}
form{
    padding: 50px 10px;
    background-color: #04044A;
    min-height: 70vh;
    border-radius: 50px;
}
input{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-stretch: inherit;
    font-size: 14px;
    font-family: lato, sans-serif;
    margin: 10px 0;
    width: 100%;
    border: none;
    padding: 5px;
    border-radius: 10px;
}
input:focus{
    outline: 1px solid #FF8C00;
}
.dest{
    display: flex;
    /* justify-content: space-around; */
}
.dest :nth-child(1){
    flex-grow: 2;
}

label{
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.center-buttons{
    text-align: center;
}
.bad{
        color: rgb(255, 255, 255);
        font-weight: inherit;
        font-stretch: inherit;
        font-size: 13px;
        line-height: inherit;
        font-family: lato, sans-serif;
        text-transform: uppercase;
        appearance: button;
        cursor: pointer;
        width: 30%;
        box-sizing: border-box;
        padding: 10px;
        border-radius: 15px;
        background-color: rgba(255, 0, 0, 0.822);
        display: inline-block;
        border: none;
}
.bad:hover{
    color: #f2f1f1;
    box-shadow: 4px 2px 8px #ff0606;  
    /* background-color: white;   */
} 
.edit{
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-family: lato, sans-serif;
    text-transform: uppercase;
    appearance: button;
    cursor: pointer;
    width: 30%;
    padding: 0px;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.822);
    display: inline-block;
    border: none;
    margin:  0 5px;
    height: 30px;
    margin-top: 30px;
}
.good:hover{
    color: #ffffff;
    box-shadow: 4px 2px 8px #50df09;
    /* background-color: white;   */
}
.good{
    color: rgb(255, 255, 255);
    font-weight: inherit;
    font-stretch: inherit;
    font-size: 13px;
    line-height: inherit;
    font-family: lato, sans-serif;
    text-transform: uppercase;
    appearance: button;
    cursor: pointer;
    width: 30%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(0, 255, 76, 0.822);
    display: inline-block;
    border: none;
}
@media screen and (max-width: 400px) {
    main{
        width: 100%;
        margin: 0 ;
    }    
    form{
        border-radius: 0;
    }
    .edit{
        font-size: 10px;
        padding: 5px;
    }
}