*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}
nav{
    display: flex;
    flex-direction: column;
    background-color: #FF8C00;
    height: 50px;
    justify-content: space-between;
    width: 100%;
}
@media screen  and (min-width: 400px){
    .menu-icon{
        display: none;
    }
}
@media screen and (max-width: 400px) {
    .topNav{
        display: flex;
        height: 50px;
        justify-content: space-between;
    }
    nav{
        display: block;
        height: auto;
    }
    .icon img {
        height: 40px;
        width: 150px;
        padding: 0 0 0 10px;
        margin: 0;
    }
    .nav-bar{
        height: auto;
        background-color: #FF8C00;
        color: white;
        flex-direction: column;
    }
    .menu-icon {

    }
}
.icon img{
    height: 50px;
    width: 200px;
    padding: 0 0 0 20px;
    margin: 0;
}
#police, #driver{
    font-size: 17px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-bar a:hover{
    text-shadow: 1px 1px 2px #04044A, 0 0 25px #04044A, 0 0 5px #04044A;
    color: wheat;
}
.my-divs{
    background-color: #04044A;
    padding: 20px 40px;
    border-radius: 30px;
    box-shadow: 8px 4px 20px #04044A;
}
.my-divs:hover{
    box-shadow: 30px 5px 20px #020229;
}
.my-divs p{
    text-decoration: none;
    font-size: xx-large;
    padding: 10px;
}
.dispatcher p{
    text-decoration: none;
    font-size: xx-large;
}
.my-divs a:hover{
    text-shadow: 1px 1px 2px black, 0 0 25px #04044A, 0 0 5px #04044A;
    color: rgb(238, 122, 14);
}
main{
    display: flex;
    flex-wrap: wrap;
    /* margin:  100px auto; */
    justify-content: center;
    align-items: center;
}