*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}
nav{
    display: flex;
    background-color: #FF8C00;
    height: 50px;
    justify-content: space-between;
    width: 100%;
}
.icon img{
    height: 50px;
    width: 200px;
    padding: 0 0 0 20px;
    margin: 0;
}
a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-bar a:hover{
    text-shadow: 1px 1px 2px #04044A, 0 0 25px #04044A, 0 0 5px #04044A;
    color: wheat;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 20px;
}
#logout{
    border: none;
    color: white;
    background-color: #FF8C00;
}
#logout input[type=submit]:hover{
    text-shadow: 1px 1px 2px #04044A, 0 0 25px #04044A, 0 0 5px #04044A;
    color: wheat;
    background-color: #FF8C00;
}
.nav-bar > a{
padding: 10px;
margin: 10px;
}
.my-divs{
    background-color: #04044A;
    border-radius: 30px;
    box-shadow: 8px 4px 20px #04044A;
    margin: 20px;
}
.police, .drivers{
    padding: 70px;
}
.my-divs:hover{
    box-shadow: 30px 5px 20px #020229;
}
.my-divs p{
    text-decoration: none;
    font-size: xx-large;
    padding: 10px;
}
.dispatcher p{
    text-decoration: none;
    font-size: xx-large;
}
.my-divs a:hover{
    text-shadow: 1px 1px 2px black, 0 0 25px #04044A, 0 0 5px #04044A;
    color: rgb(238, 122, 14);
}
main{
    display: flex;
    flex-wrap: wrap;
    margin:  100px auto;
    justify-content: center;
    align-items: center;
}
.loggin-out{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}