*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
}

nav{
    display: flex;
    flex-direction: row;
    background-color: #FF8C00;
    height: 50px;
    width: 100%;
}
.icon{
    justify-content: flex-start;
    align-self: flex-start;
    width: 150px;
    height: 100px;
    padding: 0px 200px 0px 0px;

}
.icon img {
    height: 50px;
    width: 200px;
    padding: 0 0 0 20px;
    margin: 0;
}
ul{
    list-style: none;
    padding: 10px;
}
li{
    padding: 5px 10px;
    display: inline-block;
    text-decoration: none;
}
li a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;

}
.nav-bar{
    position: absolute;
    left: 500px;
}
.nav-bar a:hover{
    text-shadow: 1px 1px 2px black, 0 0 25px #04044A, 0 0 5px #04044A;
    color: wheat;
}
main{
    margin: 30px auto;
    width: 1000px;
}
form{
    padding: 50px 10px;
    background-color: #04044A;
    min-height: 70vh;
    border-radius: 50px;
}
input{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-stretch: inherit;
    font-size: 14px;
    line-height: inherit;
    font-family: lato, sans-serif;
    margin: 10px 0;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    /* border: none; */
    padding: 5px;
    border-radius: 10px;
    outline: none;
}
label{
    color: rgb(141, 140, 139);
    font-size: 20px;
}
.center-buttons{
    text-align: center;
}
.bad{
        color: rgb(255, 255, 255);
        font-weight: inherit;
        font-stretch: inherit;
        font-size: 13px;
        line-height: inherit;
        font-family: lato, sans-serif;
        text-transform: uppercase;
        appearance: button;
        cursor: pointer;
        width: 30%;
        box-sizing: border-box;
        padding: 10px;
        border-radius: 15px;
        background-color: rgba(255, 0, 0, 0.822);
        display: inline-block;
        border: none;
}
.bad:hover{
    color: #000000;
    box-shadow: 4px 2px 8px #a83232;  
    background-color: white;  
} 
.good:hover{
    color: #000000;
    box-shadow: 4px 2px 8px #35a35f;
    background-color: white;  
}
.good{
    color: rgb(255, 255, 255);
    font-weight: inherit;
    font-stretch: inherit;
    font-size: 13px;
    line-height: inherit;
    font-family: lato, sans-serif;
    text-transform: uppercase;
    appearance: button;
    cursor: pointer;
    width: 30%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(0, 255, 76, 0.822);
    display: inline-block;
    border: none;
}